* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

p {
  font-size: 1.2rem;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
  padding: 0 1rem;
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 0%, 99.94%) 8.1%,
    hsl(0, 0%, 99.76%) 15.5%,
    hsl(0, 0%, 99.48%) 22.5%,
    hsl(0, 0%, 99.12%) 29%,
    hsl(0, 0%, 98.7%) 35.3%,
    hsl(0, 0%, 98.24%) 41.2%,
    hsl(0, 0%, 97.74%) 47.1%,
    hsl(0, 0%, 97.23%) 52.9%,
    hsl(0, 0%, 96.73%) 58.8%,
    hsl(0, 0%, 96.25%) 64.7%,
    hsl(0, 0%, 95.82%) 71%,
    hsl(0, 0%, 95.44%) 77.5%,
    hsl(0, 0%, 95.16%) 84.5%,
    hsl(0, 0%, 94.97%) 91.9%,
    hsl(0, 0%, 94.9%) 100%
  );
}

.app-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1200px) {
  .app-container {
    width: 1200px;
  }
}

@media (max-width: 1199px) {
  .app-container {
    width: 900px;
  }
}

@media (max-width: 899px) {
  .app-container {
    width: 600px;
  }
}

@media (max-width: 599px) {
  .app-container {
    width: 100%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  display: flex;
}

nav li {
  flex: 0 0 50px;
  list-style: none;
  font-size: 1.2rem;
}

a {
  padding: 2px 0 1px 0;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #145c9e;
}

a:visited {
  color: #0b4f6c;
}

a:hover {
  color: #5c9ead;
}

.browsing {
  flex: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

@media (max-width: 899px) {
  .browsing {
    grid-template-columns: 100%;
  }
}

.browsing-svg {
  display: flex;
  height: 100%;
  justify-content: center;
}

.intro {
  padding: 0 1rem;
  line-height: 2rem;
  text-align: justify;
}

.twitter {
  width: 2rem;
  fill: rgba(20, 92, 158, 0.75);
}

.social-link {
  border: none;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
